<!-- Modal -->
<div class="modal fade" id="bingoHistoryModal" tabindex="-1" aria-labelledby="bingoHistoryModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bingoHistoryModalLabel">Full Call History</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p>Most recent call listed first, left to right, top to bottom.</p>
                <div id="call-history" class="d-flex flex-wrap justify-content-center"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>