<div id="resetGameModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Reset</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to reset the game? This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button id="confirmReset" type="button" class="btn btn-danger">Reset</button>
                <button id="cancelReset" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>