  <!-- Modal for Cartella Selection -->
  <div id="cartellaModal" class="modal" aria-labelledby="cartellaModalLabel" aria-hidden="true">
    <div class="modal-content">
      <!-- Close Button (X) -->
      <button id="closeModal" class="close-btn">&times;</button>
      <h2 id="cartellaModalLabel" class="text-center">ካርቴላ ምረጡ</h2>

      <!-- Top row with Game Type, Bet, Add Cartella, and Action Buttons -->
      <div class="top-row">
        <div class="game-type boxed">
          <label for="bet" class="form-label">መደብ</label>
          <div class="bet-controls">
            <button id="decreaseBet" class="btn btn-danger">-</button>
            <input type="number" id="bet" class="form-control text-center" value="20" min="10" step="5"
              oninput="this.value = this.value < 0 ? 0 : this.value;">

            <!-- <input type="number" id="bet" class="form-control text-center" value="20" min="5" /> -->
            <button id="increaseBet" class="btn btn-success">+</button>
          </div>
        </div>
        <div class="add-cartella-input boxed">
          <label for="cartellaInput" class="form-label">ካርቴላ</label>
          <div class="input-group">
            <input type="number" id="cartellaInput" placeholder="ካርቴላ ቁጥር" class="form-control" min="0" step="any"
              oninput="this.value = this.value < 0 ? 0 : this.value;">

            <!-- <input type="number" id="cartellaInput" placeholder="Add Cartella" class="form-control" /> -->
            <button id="addCartellaBtn" class="btn btn-primary">Add</button>
          </div>
        </div>
        <div class="add-cartella-input boxed">
          <div class="payable-display payable-title text-primary">ደራሽ</div>
          <div id="totalPayable" class="payable-display">0 ብር</div>
        </div>
        <div class="add-cartella-input boxed">
          <div class="payable-display payable-title text-primary">የ ካርቴላ ብዛት</div>
          <div id="totalSelectable" class="payable-display">0</div>
        </div>
        <!-- Save and Clear Buttons -->
        <div class="action-buttons d-flex gap-2">
          <button id="clearSelection" class="btn btn-icon btn-danger" title="Clear Selection">
            <i class="bx bx-x"></i> <!-- Example using Boxicons -->
          </button>
          <button id="saveSelection" class="btn btn-icon btn-success" title="Save Selection">
            <i class="bx bx-check"></i> <!-- Example using Boxicons -->
          </button>
        </div>
        
      </div>

      <!-- Grid of numbers 1-100 -->
      <div id="cartellaGrid" class="cartella-grid"></div>
    </div>
  </div>