.nav-item .collapse .nav-link {
  font-size: 14px;
  padding-left: 20px;
}

.nav-item {
  margin-bottom: 5px;
}


/* Shadow effect for individual items */
.shadow-effect {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  /* Subtle shadow for elevation */
  border-radius: 8px;
  /* Rounded corners */
}

/* Consistent height and width for nav items */
.title-box {
  height: 50px;
  width: 120px;
  /* Adjust width as necessary */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  /* Light background for the boxes */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Hover effect for nav items */
.title-box:hover {
  transform: translateY(-2px);
  /* Slight lift on hover */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  /* More pronounced shadow */
}

/* Logo image styling */
.logo-img {
  max-height: 50px;
  width: auto;
}

/* Navbar alignment for equal spacing */
.nav {
  display: flex;
  gap: 15px;
}

.nav-link {
  height: 50px;
  display: flex;
  align-items: center;
}

/* Link styling */
.nav-link {
  text-decoration: none;
  color: #000;
  /* Black text */
}

.nav-birr {
  width: 200px;
  font-size: 2rem;
  font-weight: bolder;
  align-items: center;
  padding: 5px;
}

/* User avatar styling */
.user-avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  /* Make the avatar circular */
  object-fit: cover;
  border: 2px solid #007bff;
  /* Optional border color */
}